* {
  font-family: 'Outfit', sans-serif !important;
/* letter-spacing: 2px; */
}
/* :root {
  --text: var(--index-text-light);
  --text-h: var(--index-text-h-light);
  --bg: var(--index-bg-light);
  --border: var(--index-border-light);
  --code-bg: var(--index-code-bg-light);
  --accent: var(--index-accent-light);
  --accent-bg: var(--index-accent-bg-light);
  --accent-border: var(--index-accent-border-light);
  --social-bg: var(--index-social-bg-light);
  --shadow:
    var(--index-shadow-light-1) 0 10px 15px -3px, var(--index-shadow-light-2) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--index-text-dark);
    --text-h: var(--index-text-h-dark);
    --bg: var(--index-bg-dark);
    --border: var(--index-border-dark);
    --code-bg: var(--index-code-bg-dark);
    --accent: var(--index-accent-dark);
    --accent-bg: var(--index-accent-bg-dark);
    --accent-border: var(--index-accent-border-dark);
    --social-bg: var(--index-social-bg-dark);
    --shadow:
      var(--index-shadow-dark-1) 0 10px 15px -3px, var(--index-shadow-dark-2) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
